
# ignore everything
/*

# unignore /p2 /p3
!/p2
!/p3
!/nick-p1
!/andre-p1

# ignore everything in /p2
/p2/*
/p3/*
/nick-p1/*
/andre-p1/*

# unignore the below
!/p2/user
!/p2/config.mk
!/p2/README.dox
!/p3/kern
!/p3/user
!/p3/config.mk
!/p3/README.dox
!/p3/update.sh
!/p3/Makefile
!/nick-p1/kern
!/andre-p1/kern
!/p3/kernel.pdf

# ignore all files in user/progs
/p2/user/progs/*
/p3/user/progs/*

# don't ignore .c, README, .h files in user/progs
!/p2/user/progs/*.c
!/p2/user/progs/*.h
!/p2/user/progs/README*
!/p3/user/progs/*.c
!/p3/user/progs/*.h
!/p3/user/progs/README*

# don't ignore the variable queue thing
!/p2/vq_challenge
!/p2/vq_challenge/*

# ignore .o .dep .swp .a files
*.o
*.dep
*.swp
*.a

# ignore all . dot files, except .editorconfig
.*
!/.editorconfig
