
# ignore all files in user/progs
/p2/user/progs/*

# don't ignore .c, README, .h files in user/progs
!/p2/user/progs/*.c
!/p2/user/progs/*.h
!/p2/user/progs/README*


# ignore everything
/*

# unignore /p2
!/p2

# ignore everything in /p2
/p2/*

# unignore the below
!/p2/user
!/p2/config.mk
!/p2/README.dox


# ignore all files in user/progs
/p2/user/progs/*

# don't ignore .c, README, .h files in user/progs
!/p2/user/progs/*.c
!/p2/user/progs/*.h
!/p2/user/progs/README*

# don't ignore the variable queue thing
!/p2/vq_challenge
!/p2/vq_challenge/*

# ignore .o .dep .swp .a files
*.o
*.dep
*.swp
*.a

# ignore all . dot files
.*
